.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.detailsTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-light);
  padding: 1.5rem;
}

.detailsTop img {
  display: block;
  width: 200px;
}

.detailsTop h2,
.detailsTop h4 {
  text-transform: uppercase;
  padding: 0.2rem;
}

.detailsBottom {
  display: flex;
  flex-direction: column;
}

.detailsBottom li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-dark);
  min-height: 4rem;
  padding: 0 2rem;
  gap: 3rem;
}

.detailsBottom li:nth-child(2n) {
  background-color: var(--bg-dark-2);
}

.detailsBottom li span:first-child {
  font-size: 1.2rem;
}
