.search {
  display: block;
  outline: none;
  margin: 1rem auto;
  width: 60%;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: 0.4s;
}

.search:focus {
  opacity: 1;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
