.country {
  list-style-type: none;
  width: 240px;
  background-color: var(--bg-dark);
  border-radius: 4px;
}

.country:nth-child(3n + 1) {
  background-color: var(--bg-dark-2);
}

.country a {
  text-decoration: none;
  position: relative;
}

.country figure {
  display: flex;
  flex-flow: column;
  max-width: 220px;
  margin: 0.5rem auto;
}

.country img {
  max-width: 220px;
  min-height: 140px;
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.2s;
}

.country img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.country figcaption {
  color: #fff;
  font: italic smaller sans-serif;
  font-size: 1.4rem;
  padding-top: 5px;
  text-align: center;
  font-family: inherit;
}
