@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #35548b;
  --bg-dark: #4063a5;
  --bg-dark-2: #5478b9;
  --bg-light: #5f93f1;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Lato', sans-serif;
}
